@{
    ViewData["Title"] = "Sala Principal";
}

<body>
   
    

 

    

<center><img src="https://cdn-icons-png.flaticon.com/512/5265/5265973.png" alt="" height="400px" width="400px"></center>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>Presione Jugar para empezar el juego</h2>
    <a href='@Url.Action("Reiniciar", "Escape")'>JUGAR<a>
</div>

 
  </body>